@model PaginationSettingsForm;
@if(Model != null)
{
	<form asp-action="Index" asp-controller="List" method="get">
		<div class="mb-3">
			<label asp-for="NumberOfItems"></label>
			<input asp-for="NumberOfItems" class="form-control" min="0" />
		</div>
		<div class="mb-3">
			<label asp-for="PageSize"></label>
			<input asp-for="PageSize" class="form-control" max="1000" min="1" />
		</div>
		<div class="mb-3">
			<label asp-for="MaximumNumberOfDisplayedPages"></label>
			<input asp-for="MaximumNumberOfDisplayedPages" class="form-control" max="50" min="1" />
		</div>
		<div class="form-check mb-3">
			<input@(Model.ZeroBasedIndex ? " checked=\"checked\"" : string.Empty) class="form-check-input" id="zero-based-index-checkbox" name="Form.ZeroBasedIndex" type="checkbox" value="true" />
			<label class="form-check-label" for="zero-based-index-checkbox">Zero-based index</label>
		</div>
		<br />
		<button class="btn btn-primary" type="submit">Update</button>
	</form>
}