@{ ViewData["Name"] = "List"; }
@model ListViewModel;
<partial for="Form" name="Form.cshtml" />
<hr />
<partial for="Pagination" name="~/Views/Shared/Pagination.cshtml" />
@if(Model.Items != null && Model.Items.Any())
{
	<ul>
		@foreach(var item in Model.Items.Skip(Model.Pagination.Skip).Take(Model.Pagination.Take))
		{
			<li>@item</li>
		}
	</ul>
}
else
{
	<div class="alert alert-warning">
		<h2>No items</h2>
		<ul>
			<li>There are not items in the list.</li>
		</ul>
	</div>
}
<partial for="Pagination" name="~/Views/Shared/Pagination.cshtml" />