@{ ViewData["Name"] = "Recaptcha"; }
@model RecaptchaViewModel;
@if(Model.Saved)
{
	<div class="alert alert-success">
		<h2>Confirmation</h2>
		<p>It was saved.</p>
	</div>
}
@if(!ViewContext.ModelState.IsValid)
{
	<div asp-validation-summary="All" class="alert alert-danger">
		<h2>Input-error</h2>
	</div>
}
<partial for="Form" name="Form.cshtml" />